<h1>Find Training room</h1>
    <form class="form-inline">

        <div class="form-group">
            <label>Owner Name</label>
            <input type="text" #nameref  name="name" />
        </div>

      <div class="form-group mar">
  <label>Training Name</label>
            <select  #IDref name="TrainingId" >
                <option *ngFor="let t of Training"  [value]="t.TrainingId">
                    {{t.TrainingName}}
                </option>
            </select>
        </div>

      
        <button class="btn btn-primary" (click)="handleClick(IDref)">Submit</button>

    </form>

<div>
  <app-hall-information [TrainingId] = "IdInput"></app-hall-information>
</div>